div {
    width: 100px;
    height: 100px;
}
.yellow {
    background-color: yellow;
    position: relative;
    bottom: 200px;
    left: 100px;
}
.blue {
    background-color: blue;
    position: relative;
    bottom: 100px;
}
.red {
    position: relative;
    left: 200px;
    background-color: red;
}